@charset "UTF-8";


/****************************************************************************/

/* INDEX */

/****************************************************************************/

body {
    background-color: #040814;
}

.button-entrar-class {
    position: absolute;
    background-color:#4e4a59;
    color: white;
    right: 0;
    margin: 10px 40px 0 0;
}

.button-entrar-class:hover {
    background-color: #35313f;
    color: white;
}

.container-img-starPlus {
    padding: 150px 0 20px 0;
}

.containter-button-saveAndGet {
    padding-bottom: 20px;
}

.button-saveAndGet {
    background-color: #6421ff;
    color: white;
}

.button-saveAndGet:hover {
    background-color: #7828ff;
    color: white;
}

.p-assinar-class {
    text-align: center;
}

.p-assinar-class > a {
    color: white;
}

.containter-img-catalogo {
    padding: 60px 0 0 0;
}

.container-comoFunciona {
    color: white;
    text-align: center;
}

.h2-comoFunciona-class {
    padding: 200px 0 20px 0;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}

.comoFunciona-info-class > h3 {
    padding-top: 40px;
    font-size: 1.5em;
}

.comoFunciona-info-class > p {
    padding-top: 25px;
    font-size: .8em;
}

.comoFunciona-info-class > p > a {
    color: white;
}

.container-vaiVerPrimeiro {
    padding: 200px 0 250px 0;
    color: white;
}

.container-vaiVerPrimeiro > h3 {
    font-size: 2.3em;
    padding-bottom: 20px;
}

.container-vaiVerPrimeiro > p {
    font-size: .9em;
}

.container-iconServices {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container-iconServices > h3 {
    font-size: 2.3em;
    padding-bottom: 20px;
}

.container-catalogo-third {
    padding: 200px 0 0 0;
}

.container-catalogo-third > p, .container-catalogo-third > h3 {
    text-align: center;
}

.container-catalogo-third > h3 {
    font-size: 2em;
    color: white;
}

.container-catalogo-third > p {
    padding-top: 20px;
    font-size: .8em;
    color: #c3c4c4;
}

.container-pergFrequentes {
    padding: 200px 0 0 0;
}

.container-pergFrequentes > h3 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.container-accordion-class {
    color: white;
    background-color: #35313f;
}

.container-accordion-class > div > div > p > a {
    color: white;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-lg' viewBox='0 0 14 14'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
    transition: all .5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 14 14'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion {
    --bs-accordion-btn-bg: #35313f;
    --bs-accordion-active-bg: #35313f;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-bg: #35313f;
    --bs-accordion-btn-color: #fff;
    --bs-accordion-border-color: #35313f;
    --bs-accordion-btn-icon: white;
}

.accordion-button {
    font-size: .7em;
}

footer {
    color:#adaeb1; 
    margin-top: 100px;
    text-align: center;
}

footer a {
    color: #adaeb1;
    text-decoration: none;
}

footer a:hover, footer span:hover {
    color: white;
}

footer span:hover {
    text-decoration: underline;
}

.p-footer-class {
    font-size: .7em;
}

.p-footer2-class {
    font-size: .8em;
}

.dropdown-menu {
    background-color: transparent;
    font-size: 1em;
}



/****************************************************************************/

/* LOGIN SCREEN */

/****************************************************************************/

body {
    background-color: #040814;
}

.container-login {
    text-align: center;
    margin-top: 70px;
}

.container-login h3 {
    color: white;
    margin-top: 60px;
    font-size: 1.5em;
    text-align: left;
}

.container-login input {
    margin-top: 30px;
    background-color: #25222a;
    height: 50px;
    border: none;
    font-size: .9em;
}

.container-maiuscula-class {
    text-align: left;
    padding: 5px 0 0 5px;
}

.maiuscula-class {
    color: white;
    font-size: .7em;
}

.container-login input:hover, .container-login input:active, .container-login input:focus {
    background-color: #25222a;
    border: 1px solid #656368;
    color: white;
    font-size: .9em;
}

.button-continuar {
    background-image: linear-gradient(to right, #e1054a, #ce3e03);
    margin-top: 20px;
    height: 50px;
    color: white;
    font-weight: bold;
    padding-top: 12px;
}

.button-continuar:hover {
    color: white;
}

.container-login p {
    margin-top: 50px;
    color: white;
    text-align: left;
    font-size: .9em;
}

.container-login p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container-login p > a:hover {
    color: #0ba4a4;
    text-decoration: underline;
}

.container-login-footer {
    text-align: center;    
}

.container-login-footer a {
    font-weight: bold;
}

.container-esqueceuSenha-class {
    text-align: left;
    padding-top: 20px;
}

.container-esqueceuSenha-class > a {
    text-decoration: none;
    color: #5ca9e5;
    font-size: .9em;
}

.container-esqueceuSenha-class > a:hover {
    text-decoration: underline;
    color: #0ba4a4;
}


/****************************************************************************/

/* PROFILES */

/****************************************************************************/

.container-profiles-top {
    color: white;
    padding: 20px;
}

.quemVaiAssistir-class {
    font-size: 1.8em;
    font-weight: bold;
    padding-top: 10px;
}

.container-btn-class {
    text-align: right;
}

.container-btn-class > a > span {
    font-weight: bold;
}

.container-profiles-avatar {
    margin-top: 100px;
    color: white;
    text-align: center;
}

.container-profiles-avatar p {
    padding-top: 20px;
}

.container-profiles-avatar span {
    font-size: 1.4em;
    font-weight: bold;
}

.container-profiles-avatar img:hover {
    width: 175px;
}



/****************************************************************************/

/* ESQUECI MINHA SENHA */

/****************************************************************************/

.container-esqueciSenha-class {
    color: white;
    padding: 75px;
    text-align: center;
}

.container-esqueciSenha-class h3 {
    margin-top: 50px;
    text-align: left;
}

.container-esqueciSenha-class p {
    margin-top: 25px;
    text-align: left;
    font-size: .9em;
    font-weight: bold;
}

.container-input-senha {
    margin-top: 30px;
}

.container-esqueciSenha-class input {
    background-color: #3a3645;
    color: #757575;
    border: none;
    height: 70px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}

.naoRecebeu-class {
    color: #c2c2c2;
}

.reenviar-class {
    text-align: left;
}

.reenviar-class a {
    text-decoration: none;
    color: white;
}

.reenviar-class a:hover {
    text-decoration: underline;
    color: #0ba4a4;
}



/****************************************************************************/

/* HOME */

/****************************************************************************/


.container-navbar-home, .container-main, .container-assisteOP, .container-destaques, .container-favoritos, .container-continue, .container-esportes, .container-todosEsportes, .container-colecoes {
    color: white;
    padding-top: 30px;
}

.container-nav-options {
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}

.nav-options-class > div:hover {
    text-decoration: underline;
}

.container-nav-perfil {
    text-align: right;
}

.wallpáper-class {
    background-image: url("../../Private/image/wallpaper-lost.png");
    background-repeat: no-repeat;
}
